#chartdiv {
	width	: 100%;
	height	: 400px;
}
#chartdiv a {
	display: none;
}
#pchart_pgviews, #pchart_sources {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}	
.large {
	font-size: 36px;
	color: white;
	float: right;
}
.subtext {
	color: white;
	text-align: right;
}
.panel-secondary {
	border-color: #5cb85c;
}
.panel-secondary > .panel-heading {
	background-color: #5cb85c;
}	
.panel-tertiary {
	border-color: #f0ad4e;
}
.panel-tertiary > .panel-heading {
	background-color: #f0ad4e;
}		
.panel-heading {
	text-align: center;
}			
.panel-quaternary {
	border-color: #d9534f;
}
.panel-quaternary > .panel-heading {
	background-color: #d9534f;
}			
.custom-fa {
	margin-left: -40px;
	color: white;
}