a:hover {
	text-decoration: none;
}
#container {
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 30px;
}
table.dataTable thead th, table.dataTable thead td {
	border-bottom: 2px solid #DDD;
}
table.dataTable.no-footer {
	border-bottom: 0px;
}
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}