html {
  height: 100%;
  width: 100%;
}
body {  
  height: 100%;
  width: 100%;
  padding-bottom: 120px; 
}
.form-text {
  width: 100%; 
  border: 1px solid #ccc; 
  padding-right: 12px;
  height: 40px;
  background-color: #CFCFCF;
}
.form-text-area {
  width: 100%; 
  border: 1px solid #ccc; 
  padding-right: 12px;
  background-color: #CFCFCF;
}
#form-text-wrapper {
  margin-bottom: 1%;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 22px;
}
.input-checkbox {
  border: 1px solid #ccc; 
  background-color: #CFCFCF;
}
.btn {
  font-family: sans-serif;
}
img {
  max-width: none;
}