<header class="main-header">
	<a href="/" class="logo">
    <!-- LOGO -->
    	StudentHousing
  	</a>
	<nav class="navbar navbar-static-top" role="navigation">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li><button id="post_new_place_btn" href="#" class="ladda-button btn btn-primary" data-style="slide-right">
				<i class="fa fa-plus" style="padding-right: 3px;"></i>
				Post new place
			</button></li>
				<li><a href="/"><i class="fa fa-home"></i>Home</a></li>
				<li><a href="#">About</a></li>
				<% if user_signed_in? %>
					<li><a href="/users/sign_out" data-method="delete"><i class="fa fa-power-off" style="padding-right: 3px;"></i>Sign out</a></li>
				<% else %>
					<li><a id="sign_in_btn" href="#">Sign in</a></li>
				<% end %>
			</ul>
		</div>
	</nav>
</header>

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
		<ul class="sidebar-menu" style="margin-top: 20px;">
		  	<li>
				<a href="/dashboard"><i class="fa fa-dashboard"></i>
					Dashboard
				</a>
			</li>
			<li>
				<a href="/dashboard/housing/listings"><i class="fa fa-building"></i>
					Your listings
				</a>
			</li>
			<li>
				<a href="<%= dashboard_housing_favorites_path %>"><i class="fa fa-heart"></i>
					Favorites
				</a>
			</li>
			<li>
				<a href="<%= dashboard_housing_alerts_path %>"><i class="fa fa-bell"></i>
					Custom Alerts
				</a>
			</li>
			<li>
				<a href="/dashboard/profile"><i class="fa fa-user"></i>
					Profile
				</a>
			</li>
		</ul>
	</section>
</aside>