<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<style type="text/css">
			.container {
				/*max-width: 730px;
				margin-right: auto;
				margin-left: auto;
				background-color: #000;
				margin-top: 100px;
    			opacity: 0.7;*/
			}
			.jumbotron {
				text-align: center;
				font-size: 30px;
				margin-top: 50px;
				color: #000;
				font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

				max-width: 730px;
				margin-right: auto;
				margin-left: auto;
				/*background-color: #000;*/
				margin-top: 100px;
    			opacity: 0.7;
			}
			.btn {
				/*font-size: 24px;*/
				font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    			font-weight: 400;
				color: #000;
			}
			#search {
				margin-top: 10px;
				margin-bottom: 50px;

				background: none;
			    border: 2px solid #4EABD3;
			    /*color: #4EABD3;*/
			}
			.search_content_text {
				/*color: #000;*/
			}
			body {
				/*background-color: #3197D5*/
				background-image: url("/images/homepage_bg.jpeg");
				background-size: 100% auto;
    			background-repeat: no-repeat;
    			opacity: 0.8

			}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-default">
		  	<div class="container-fluid">
		    	<!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
                </div>
			    <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href="#">About</a></li>
                        <% if user_signed_in? %>
                        <li><a href="#">Dashboard</a></li>
						<% else %>
                        <li><a href="#">Sign in</a></li>
						<% end %>
                    </ul>
                </div>
			</div>
		</nav>
	  	<div class="container">
	  		<div class="jumbotron">
	  			<div class="search_content_text">
	  				Let's find a great place for you.
	  			</div>
	  			<div class="form-horizontal">
				    <input name="search" id="search"/>
				    <button class="btn btn-info btn-lg">
				    	<i class="fa fa-search"></i>
				    	Search
				    </button>
				</div>
			</div>
		</div>
	</body>
</html>
